@use "../../mixins/breakpoint" as *;

.product-card {
  transition: 0.23s;

  &__top {
	position: relative;

  }

  &__image {
	overflow: hidden;
	background: linear-gradient(246deg, #e9eef5 0%, #e9f8f9 100%), var(--background-screen);
	border-radius: 20px;
	height: 308px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.23s;

	&:after {
	  background: rgba(37, 40, 52, 0.15);
	  display: block;
	  content: '';
	  width: 100%;
	  height: 100%;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  position: absolute;
	  opacity: 0;
	  transition: 0.23s;
	}

	img {
	  height: 100%;
	  object-fit: cover;
	  transform: scale(1);
	  transition: 0.33s;
	  mix-blend-mode: darken;
	}

	&:hover {
	  img {
		transform: scale(1.05);
	  }
	}

	@media (max-width: 374px) {
	  height: 283px;
	}
  }

  &:hover {
	.product-card__image {
	  transform: scale(1.02);

	  &::after {
		opacity: 1;
	  }
	}
  }

  &__order {
	transition: 0.53s;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: -100%;

	bottom: 18px;
	transition: 0.43s;

	.action-btn .action-btn__ic {
	  svg {
		path {
		  stroke: #1E558E !important;
		  fill: none;
		}
	  }
	}
  }

  &__labels {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	position: absolute;
	top: 16px;
	right: 16px;
  }

  .prod-lbl {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	height: 26px;
	padding: 8px 12px;
	color: var(--cl-b);
	border-radius: 45px;

	&--discount {
	  background: #ed5221;
	}

	&--hit {
	  background: #00B633;
	  padding-left: 26px;
	  background-image: url(../img/icons/flash.svg);
	  background-position: left 8px center;
	  background-repeat: no-repeat;
	}
  }

  &__content {
	padding: 14px 16px 0 16px;
  }

  &__name {
	margin-bottom: 13px;

	a {
	  font-family: var(--font-family);
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 140%;
	  color: var(--content-primary);

	  &:hover {
		text-decoration: underline;
	  }
	}
  }

  &__price {
	font-weight: 500 !important;
	font-size: 24px !important;

	b{
	  overflow: hidden;
	  color: #7C7E85;
	  text-overflow: ellipsis;
	  font-size: clamp(12px, 1.40625vw, 18px);
	  font-style: normal;
	  font-weight: 500;
	  line-height: normal;
	  text-decoration-line: line-through;
	}
  }

  &__specs {
	margin-bottom: 13px;
	display: grid;
	gap: 6px;

	.specs-item {
	  display: flex;
	  justify-content: space-between;
	  align-items: baseline;
	  position: relative;

	  &::before {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		bottom: 7px;
		width: 100%;
		height: 1px;
		background-image: url(../img/dashline.svg);
		z-index: -1;
	  }

	  span {
		background-color: var(--cl-b);
		line-height: 130%;

		&:nth-child(1) {
		  font-weight: 400;
		  font-size: 16px;
		  color: var(--cl-g);
		  padding-right: 4px;
		}

		&:nth-child(2) {
		  font-weight: 500;
		  font-size: 16px;
		  color: var(--content-primary);
		  padding-left: 4px;
		}
	  }
	}
  }

  &__ports {
	span {
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 140%;
	  color: var(--cl-g);
	}

	.p_ports {
	  margin-top: 8px;
	  display: flex;
	  flex-wrap: wrap;
	  gap: 4px;

	  &-item {
		font-family: var(--second-family);
		font-weight: 500;
		font-size: 14px;
		color: var(--cl-h);
		padding: 10px;
		border: 1px solid var(--cl-i);
		border-radius: 39px;
	  }
	}
  }
}