<header class="header fixed-block">
<div class="container">
    <div class="header__box">
        <a href="/" class="header-logo">
            <svg width='40' height='40'>
                <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
        </a>

        <button class="burger" aria-label="Mobile menu">
            <span class="burger__line"></span>
        </button>

        <nav class="header-menu">
            <ul class="header-menu__list">
                <li>
                    <a href="#">Магазин</a>
                </li>

                <li><a href="#">Клієнтам</a></li>
                <li><a href="#">Партнерам</a></li>
            </ul>
        </nav>

        <div class="header__inner">
                <button class="header__btn">
                    <svg width='18' height='18'>
                        <use href='img/sprite/sprite.svg#search'></use>
                    </svg>
                </button>

                <button class="header__btn">
                    <svg width='18' height='18'>
                        <use href='img/sprite/sprite.svg#cart'></use>
                    </svg>
                </button>

                <a href="#" class="action-btn action-btn-v3">Кабінет</a>
        </div>

        <div class="mobile">
            <div class="mobile__box">
                <button class="burger" aria-label="Mobile menu">
                    <span class="burger__line"></span>
                </button>

                <nav class="header-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__mob"><a href="#">Магазин</a></li>
                        <li class="header-menu__mob"><a href="#">Клієнтам</a></li>
                        <li class="header-menu__mob"><a href="#">Партнерам</a></li>
                        <li><a href="#">Мобiльний застосунок</a></li>
                        <li><a href="#">Мапа ЕЗК</a></li>
                        <li><a href="#">Iсторiя TOKA</a></li>
                        <li><a href="#">Вакансії</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Питання та  відповіді</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>

                <div class="header__social">
                    <ul>
                        <li><a href="#"><img src="img/icons/instagram.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/facebook.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/telegram.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/linkedin.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/tt.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</header>