@use "../../mixins/breakpoint" as *;
.faq-section {
  padding: var(--default-padding) 0;
  
  &:last-of-type{
    padding-bottom: clamp(64px, 9.375vw, 120px);
  }

  .top {
    max-width: 460px;
    margin: 0 auto;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__box{
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 2.5vw, 32px);
  }

  .faq-nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: clamp(8px, 1.25vw, 16px);

    .faq-btn {
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 147%;
      color: #62646a;
      padding: 10px 21px;
      border-radius: 34px;
      transition: 0.23s;
      text-align: left;
      height: 47px;
      white-space: nowrap;

      &:hover {
        background: rgba(37, 40, 52, 0.04);
      }

      &.active {
        background: var(--content-primary);
        color: var(--content-alternative);

        svg {
          path {
            fill: white;
          }
        }
      }
    }

    @include mobile{
      width: calc(100% + (var(--container-offset) * 2));
      overflow-x: scroll;
      justify-content: flex-start;
      margin-left: calc(-1 * var(--container-offset));
      padding: 0 var(--container-offset);
    }
  }

  .faq-tabs-item {
    display: none;

    &.active {
      display: block;
    }
  }

  .faqitem {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0
    }

    padding: 24px 24px;
    border-radius: 20px;
    background: var( --background-screen);

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;

      &::after {
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/arrow-up-black.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 4px;
        transition: 0.23s;
      }
    }

    &__title {
      font-weight: 600;
      font-size: clamp(16px, 2.933vw, 20px);
      line-height: 140%;
      color: var(--content-primary);
      padding-right: 8px;
    }

    &__content {
      > :first-child {
        margin-top: 24px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        color: var(--content-primary);
        line-height: 140%;
      }
    }


    &.active {
      .faqitem__top {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &.mode{
    padding-top: clamp(48px, 6.25vw, 80px);

    .faq-nav{
      justify-content: flex-start;
    }
    &:last-of-type{
      padding-bottom: clamp(64px, 7.8125vw, 100px);
    }

  }
}









