@use "../../mixins/breakpoint" as *;

.step-section {
  padding: clamp(56px, 7.8125vw, 100px) 0 clamp(36px, 5.46875vw, 70px);
  overflow: hidden;

 &__box{
   display: flex;
   flex-direction:  column;
   gap: clamp(64px, 7.8125vw, 100px);
   
   .top{
	 gap: clamp(32px, 3.75vw, 48px);
   }
 }
  
  &__list{
	display: flex;
	align-items: center;
	gap: clamp(12px, 1.796875vw, 23px);
	align-self: flex-start;

	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-padding-left: var(--container-offset);
	overflow-x: auto;
	width: calc(100% + (var(--container-offset) * 2));
	margin-left: calc(var(--container-offset) * -1);
	padding: 0 var(--container-offset);

	&::-webkit-scrollbar {
	  display: none;
	}
  }

  &__item{
	scroll-snap-align: start;
	display: flex;
	gap:clamp(12px, 1.796875vw, 23px);
	align-items: center;

	&:not(:last-of-type){
	  &:after{
		display: block;
		content: "";
		width: 24px;
		height: 24px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%239ba1a4' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m12 18 6-6-6-6M6 18l6-6-6-6'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	  }
	}

	a{
	  color: var(--content-primary);
	  font-size: 20px;
	  font-style: normal;
	  font-weight: 600;
	  white-space: nowrap;
	  line-height: 140%;
	  display: inline;

	  b{
		margin-right: 4px;
		color: var(--cl-c);
		font-weight: 600;
	  }
	}
  }
}