@use "../../mixins/breakpoint" as *;
@use "../../mixins/mini" as *;

.location-list {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 4.6875vw, 60px);


  &__item {
	display: grid;

	grid-template-columns: 1fr 0.59fr;
	gap: 24px 16px;

	p:not([class]) {
	  @include for-laptop {
		padding-right: 34px;
	  }
	}

	&:nth-child(even) {
	  @include for-small-tablet {
		grid-template-columns: 0.59fr 1fr;
	  }


		.location-list__inner {
		  order: -1;

		  @include mobile{
			padding-top: 16px;
			padding-bottom: 0;
		  }
		}

	  .location-list__box{
		@include mobile{
		  padding: 0;
		}
	  }

	}

	@include small-tablet {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
	  padding: 8px;
	  grid-template-columns: 100%;
	  border-radius: 20px;
	  background: var(--background-screen);
	}
  }

  &__box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: clamp(16px, 3.125vw, 40px);
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 20px;

	&:has(.location-list__image.mode) {
	  background: var(--cl-u);

	  &:before, &::after {
		content: none;
	  }
	}

	&:before, &:after {
	  width: 100%;
	  height: 197px;
	  content: '';
	  position: absolute;
	  z-index: -1;
	  pointer-events: none;
	  left: 0;

	  @include mobile{
		height: 114px;
	  }
	}

	&:before {
	  top: 0;
	  background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0.00) 100%);
	}

	&:after {
	  bottom: 0;
	  height: 233px;
	  background: linear-gradient(180deg, rgba(19, 19, 19, 0.00) 0%, #131313 90%, #131313 100%);

	  @include mobile{
		height: 155px;
	  }
	}

	@include for-mobile {
	  padding: clamp(32px, 3.125vw, 40px) clamp(16px, 2.5vw, 32px) clamp(32px, 3.75vw, 48px);

	  background: var(--background-screen);
	}

	@include mobile {
	  padding: 16px;
	  min-height: 327px;
	}
  }

  &__inner {
	width: 100%;
	height: 100%;
	padding: 16px clamp(16px, 3.125vw, 40px);
	position: relative;
	z-index: 1;
	border-radius: 20px;
	background: var(--background-screen);
	overflow: hidden;
	height: clamp(352px, 46.875vw, 600px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: clamp(16px, 2.5vw, 32px);

	.location-list__title{
	  color: var(--content-primary);
	}

	p{

	}

	@include mobile {
	  padding: 0 16px 24px;
	  height: fit-content;
	}
  }

  &__image {
	position: absolute;
	z-index: -2;
	inset: 0;
	pointer-events: none;

	&.mode {
	  inset: clamp(24px, 4.6875vw, 60px) clamp(24px, 4.6875vw, 60px) clamp(24px, 3.125vw, 40px);

	  img, picture {
		object-fit: contain;
	  }

	  @include mobile{
		inset: 8px;
	  }
	}

	img, picture {
	  width: 100%;
	  height: 100%;
	}
  }


  &__title {
	color: var(--cl-b);
	font-family: var(--third-family);
	font-size: clamp(24px, 2.8125vw, 36px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	max-width: clamp(400px, 35.625vw, 456px);

	@include mobile {
	  line-height: normal;
	}
  }

  &__icon {
	border-radius: 100%;
	@include gradient-border(linear-gradient(319deg, rgba(54, 97, 188, 0.20) 17.68%, rgba(54, 97, 188, 0.20) 17.69%, rgba(54, 97, 188, 0.00) 85.34%), 1px);

	background: var(--cl-b);
	display: flex;
	width: 56px;
	height:  56px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	position: absolute;
	top: clamp(24px, 2.5vw, 32px);
	left:  clamp(24px, 2.5vw, 32px);
	svg, img {
	  width: 32px;
	  height: 32px;
	}

	@include small-tablet{
	  position: relative;
	  top: initial;
	  left: initial;
	  margin-bottom: 8px;
	}
  }

  &__bottom {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 344px;

	p {
	  font-size: 16px;
	  color: var(--cl-b);
	}
  }

  &__subtitle {
	color: var(--cl-b);
	font-size: clamp(20px, 1.875vw, 24px);
	font-style: normal;
	font-weight: 600;
	line-height: 138%;
  }

  &__sublist {
	display: flex;
	flex-direction: column;
	gap: clamp(16px, 2.34375vw, 30px);

	&-item {
	  display: flex;
	  align-items: center;
	  gap: clamp(16px, 1.5625vw, 20px);

	  span {
		color: var(--content-primary);
		font-size: clamp(16px, 1.5625vw, 20px);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	  }

	  .sprite {
		border-radius: 100%;
		@include gradient-border(linear-gradient(319deg, rgba(54, 97, 188, 0.20) 17.68%, rgba(54, 97, 188, 0.20) 17.69%, rgba(54, 97, 188, 0.00) 85.34%), 1px);

		background: var(--cl-b);
		display: flex;
		width: clamp(40px, 4.375vw, 56px);
		height: clamp(40px, 4.375vw, 56px);
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		svg, img {
		  width: clamp(18px, 1.71875vw, 22px);
		  height: clamp(18px, 1.71875vw, 22px);
		}
	  }
	}
  }

  @include mobile{
	gap: 64px;
  }
}