@use "../mixins/breakpoint" as *;

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(220px, 20.3125vw, 260px), 1fr));
  gap: clamp(16px, 2.5vw, 32px) clamp(8px, 1.25vw, 16px);

  .product-card{
	&__price {
	  font-size: clamp(18px, 1.875vw, 24px) !important;
	  display: -webkit-box;
	  overflow: hidden;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 1;
	}

	&__name{
	  a{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
	  }
	}
  }


  @include tablet{
	grid-template-columns: repeat(2, 1fr);
  }

  @include mobile{

	.product-card {
	  &__image {
		height: initial;
		aspect-ratio: 1;
	  }

	  &__labels {
		top: 8px;
		right: 8px;
	  }

	  &__content {
		padding: 8px 8px 0 8px;
	  }

	  &__name {
		margin-bottom: 8px;

		a {
		  font-size: 14px;
		  line-height: normal;
		}
	  }

	  &__price {
		font-size: 16px !important;
		b{
		  font-size: 12px !important;
		}
	  }

	  &__specs {
		margin-bottom: 8px;

		.specs-item {
		  span {
			&:nth-child(1) {
			  font-size: 12px;
			}

			&:nth-child(2) {
			  font-size: 12px;
			}
		  }
		}
	  }

	  &__ports {
		span {
		  font-size: 12px;
		  line-height: normal;
		}

		.p_ports {
		  &-item {
			font-size: 12px;
			padding: 8px 10px;
		  }
		}
	  }
	}


  }
}